<!doctype html>
<html ng-app="socAlloc">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>

    <script src="index.js"></script>

    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <div ng-controller="AllocController">

      <table>
        <tr>
          <th>Society name</th>
          <th>Member count</th>
          <th>Requested funding</th>
          <th>Allocated funding</th>
        </tr>

        <tr ng-repeat="soc in socs">
          <td><input type="text" ng-model="soc.name" /></td>
          <td><input type="number" ng-model="soc.memberCount" min="0" /></td>
          <td><input type="number" ng-model="soc.requestedFunding" min="0" /></td>
          <td><span>{{socAllocation(soc)}}</span></td>
          <td><button ng-click="removeRow(soc)">Remove row</button></td>
        </tr>
      </table>

      <form ng-submit="addSoc()">
        <input class="btn-primary" type="submit" value="Add row">
      </form>

      Budget:<input type="number" ng-model="budget" />

      <div id="stats">
        <span>Total allocated: {{totalAllocatedFunding()}}</span>
        <span>Unused: {{unusedBudget()}}</span>
      </div>

    </div>
  </body>
</html>
