.allocated-funding-cell {
  text-align: right;
  float: right;
}

th, td {
  padding: 5px 10px;
}

.container {
  width: 800px !important;
  margin-bottom: 30px;
}

table {
  margin: 20px 0 10px;
}

.add-row {
  float: right;
  margin: 5px 10px;
}

.budget {
  margin: 0;
}

.budget input {
  margin-left: 5px;
}

.stats {
  margin-top: 50px;
  box-shadow: none !important;
}

.importer {
  width: 600px;
}

.importer textarea{
  width:600px;
  height:200px;
}
